body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00d084;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    background: #00d084;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.menu a:hover {
    background: #00b36b;
}

.caixa {
    max-width: 500px;
    margin: auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #00d084;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #00b36b;
}

.produto {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
